@{
    ViewBag.Title = "Success";
}

<p>User has been registered successfully.....</p>

<h1>User has been registered successfully.....</h1>
<h1>User has been registered successfully.....</h1>
<h1>User has been registered successfully.....</h1>
@Html.ActionLink("Login", "Index", "Login")
