body {
    padding-top: 50px;
    padding-bottom: 20px;
}
    
/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
    

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}
    
/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}


#fuego {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 800;
    /*color: #E9967A;*/
    position: relative;
    text-transform: capitalize;
    color: #616161;
}
.anchor a {
    color: inherit;
    text-decoration: none;
}
#fuego a{
    color:inherit;
    text-decoration:none;
}
.product-entry {
    display: block;
    height: 100% !important;
}

    .product-entry .prod-img {
        display: block;
    }

    .product-entry .desc {
        padding: 1.5em;
    }

        .product-entry .desc h2 {
            text-transform: uppercase;
            font-size: 18px;
        }

            .product-entry .desc h2 a {
                color: #000;
            }

        .product-entry .desc span.price {
            display: block;
            font-family: "Rokkitt", Georgia, serif;
            font-size: 18px;
            color: #F6546A;
            font-weight: 400;
        }
