
    

.spacing{
    margin-right:10px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
   
body{
    padding-top:60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/


    
/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

#fuego {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 800;
    /*color: #E9967A;*/
    position: relative;
    text-transform: capitalize;
    color: #616161;
    font-size:30px;
}
.anchor a {
    color: inherit;
    text-decoration: none;
}
.center-element {
    text-align: center;
}
.p-detail{
    margin:20px;
    padding:10px;
}
.card-style h2 {
    line-height: 1.5;
    color: #000;
    font-weight: 400;
    font-family: "Rokkitt", Georgia, serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-style {
    padding: 10px 12px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: "Rokkitt", Georgia, serif;
    font-weight: 400;
}
    .anchor a:hover {
        
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
.title {
    font-size: 20px;
    text-transform: uppercase;
}
#fuego a{
    color:inherit;
    text-decoration:none;
}

.process-wrap {
    width: 100%;
    display: block;
    float: left;
}

.process {
    position: relative;
    float: left;
    width: 33.333%;
    z-index: 0;
}

    .process:after {
        position: absolute;
        top: 35%;
        right: -37%;
        content: '';
        width: 100%;
        height: 1px;
        background: #f0f0f0;
        z-index: -1;
    }

    .process:last-child:after {
        display: none;
    }

    .process p {
        position: relative;
        width: 80px;
        height: 80px;
        display: table;
        border: 2px solid #fafafa;
        margin: 0 auto;
        margin-bottom: 20px;
        background: #fff;
        z-index: 1;
        font-weight: 400;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

        .process p span {
            display: table-cell;
            vertical-align: middle;
        }

    .process h3 {
        margin-bottom: 0;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .process.active p {
        border: 2px solid #f0f0f0;
    }

        .process.active p span {
            color: #88c8bc;
        }
