@{
    ViewBag.Title = "Home Page";
}



@foreach (var prod in Model.Products)
{
    <h2>NAME: @prod.Name</h2>
    <h2>Category Name: @prod.CatName</h2>

    <h2>ListingPrice: @prod.ListingPrice</h2>

    <h2>Discount Price: @prod.Discount</h2>
}