@{
    ViewBag.Title = "ViewOrderItem";
}
@foreach (var product in Model.OrderItems)
{
    <h4><b>Name:</b> @product.Name</h4>
<h4><b>Price:</b> @product.Price</h4>
<h4><b>Order Date:</b>@product.OrderDate</h4>
<img src="@product.Url" height="100" width="100" />
<hr /><hr />
}