@{
    ViewBag.Title = "SearchProducts";
}
<h2>SearchProducts</h2>
<p>
    <div class="row row-pb-md">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="@Url.Action("ProductDetail", "Products", new { ProductID = product.ID})">
                        <img src="@product.ImageURL" class="img-fluid" alt="Free html5 bootstrap 4 template" style=" height:160px;width:140px;">
                    </a>
                    <div class="desc">
                        <h2><a href="@Url.Action("ProductDetail", "Products", new { ProductID = product.ID})">@product.Name</a></h2>
                        <span class="price">$@product.ListingPrice</span>
                    </div>

                </div>
            </div>
        }
    </div>
</p>