@model FuegoBox.Presentation.Models.SearchResultsModel

@{
    ViewBag.Title = "SearchResults";
}

<h2>Search Results</h2>

<h4>Your Search String is: <strong>@ViewBag.SearchString</strong></h4>
<hr />
<h2>@Model.Product</h2>

   
       
            
                       
                       
                 
           
        




